DATABASE_URL=postgres://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>?sslmode=require

# Better Auth configuration
# Generate a secure secret key (at least 32 characters)
BETTER_AUTH_SECRET="your-better-auth-secret-key-at-least-32-chars"
# URL where auth callbacks/redirects are handled
BETTER_AUTH_URL=http://localhost:3000
